# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
tests/PositionTestingVariables.npz
neuropy/.vscode/settings.json
.vscode/bookmarks.json
desktop.ini
*.sha256
neuropy/cscope.files
neuropy/cscope.out
neuropy/myproject.db
neuropy/tags
.sourcery.yaml

.myproject.db

cscope.files

cscope.out

tags

neuropy/numpy-1.26.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl

neuropy/fastrlock-0.8.2-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_28_x86_64.whl
typings
docs/api/ajax.js
docs/api/all-documents.html
docs/api/apidocs-help.html
docs/api/apidocs.css
docs/api/bootstrap.min.css
docs/api/classIndex.html
docs/api/extra.css
docs/api/fullsearchindex.json
docs/api/index.html
docs/api/lunr.js
docs/api/moduleIndex.html
docs/api/nameIndex.html
docs/api/neuropy.analyses.artifact.html
docs/api/neuropy.analyses.brainstates.html
docs/api/neuropy.analyses.decoders.html
docs/api/neuropy.analyses.decoders.RadonTransformComputation.html
docs/api/neuropy.analyses.decoders.RadonTransformDebugValue.html
docs/api/neuropy.analyses.html
docs/api/neuropy.analyses.laps.html
docs/api/neuropy.analyses.ms_connectivity.html
docs/api/neuropy.analyses.neurons_correlation.html
docs/api/neuropy.analyses.neurons_stability.html
docs/api/neuropy.analyses.oscillations.Gamma.html
docs/api/neuropy.analyses.oscillations.html
docs/api/neuropy.analyses.placefields.html
docs/api/neuropy.analyses.placefields.MissingGridBinBoundsError.html
docs/api/neuropy.analyses.placefields.Pf1D.html
docs/api/neuropy.analyses.placefields.Pf2D.html
docs/api/neuropy.analyses.placefields.PfnConfigMixin.html
docs/api/neuropy.analyses.placefields.PfND.html
docs/api/neuropy.analyses.placefields.PfnDMixin.html
docs/api/neuropy.analyses.placefields.PlacefieldComputationParameters.html
docs/api/neuropy.analyses.placefields.PlacefieldND.html
docs/api/neuropy.analyses.reactivation.ExplainedVariance.html
docs/api/neuropy.analyses.reactivation.html
docs/api/neuropy.analyses.reactivation.NeuronEnsembles.html
docs/api/neuropy.analyses.spkepochs.html
docs/api/neuropy.analyses.time_bin_aggregation.html
docs/api/neuropy.analyses.time_bin_aggregation.ParticleFilter.html
docs/api/neuropy.analyses.time_bin_aggregation.TimeBinAggregation.html
docs/api/neuropy.analyses.time_bin_aggregation.TimeBinAggregation.ToCoarserTimeBin.html
docs/api/neuropy.analyses.time_bin_aggregation.TimeBinAggregation.ToPerEpoch.html
docs/api/neuropy.analyses.time_dependent_placefields.html
docs/api/neuropy.analyses.time_dependent_placefields.PfND_TimeDependent.html
docs/api/neuropy.analyses.time_dependent_placefields.PlacefieldSnapshot.html
docs/api/neuropy.analyses.trace_fc.html
docs/api/neuropy.analyses.trace_fc.trace_animal.html
docs/api/neuropy.analyses.trace_fc.trace_behavior.html
docs/api/neuropy.analyses.trace_fc.trace_group.html
docs/api/neuropy.core.animal.Animal.html
docs/api/neuropy.core.animal.html
docs/api/neuropy.core.ca_neurons.html
docs/api/neuropy.core.ca_neurons.Neurons.html
docs/api/neuropy.core.datawriter.DataWriter.html
docs/api/neuropy.core.datawriter.html
docs/api/neuropy.core.datawriter.LegacyDataLoadingMixin.html
docs/api/neuropy.core.epoch.Epoch.html
docs/api/neuropy.core.epoch.EpochHelpers.html
docs/api/neuropy.core.epoch.EpochsAccessor.html
docs/api/neuropy.core.epoch.html
docs/api/neuropy.core.epoch.NamedTimerange.html
docs/api/neuropy.core.event.Event.html
docs/api/neuropy.core.event.html
docs/api/neuropy.core.flattened_spiketrains.FlattenedSpiketrains.html
docs/api/neuropy.core.flattened_spiketrains.html
docs/api/neuropy.core.flattened_spiketrains.SpikesAccessor.html
docs/api/neuropy.core.html
docs/api/neuropy.core.laps.html
docs/api/neuropy.core.laps.Laps.html
docs/api/neuropy.core.laps.LapsAccessor.html
docs/api/neuropy.core.neuron_identities.html
docs/api/neuropy.core.neuron_identities.NeuronExtendedIdentity.html
docs/api/neuropy.core.neuron_identities.NeuronIdentitiesDisplayerMixin.html
docs/api/neuropy.core.neuron_identities.NeuronIdentity.html
docs/api/neuropy.core.neuron_identities.NeuronIdentityAccessingMixin.html
docs/api/neuropy.core.neuron_identities.NeuronIdentityDataframeAccessor.html
docs/api/neuropy.core.neuron_identities.NeuronIdentityTable.html
docs/api/neuropy.core.neuron_identities.NeuronType.html
docs/api/neuropy.core.neuron_identities.PlotStringBrevityModeEnum.html
docs/api/neuropy.core.neurons.BinnedSpiketrain.html
docs/api/neuropy.core.neurons.html
docs/api/neuropy.core.neurons.Mua.html
docs/api/neuropy.core.neurons.Neurons.html
docs/api/neuropy.core.parameters.BaseConfig.html
docs/api/neuropy.core.parameters.html
docs/api/neuropy.core.parameters.ParametersContainer.html
docs/api/neuropy.core.persistence_manager.ContextToPathOption.html
docs/api/neuropy.core.persistence_manager.html
docs/api/neuropy.core.persistence_manager.PersistenceManager.html
docs/api/neuropy.core.position_old.html
docs/api/neuropy.core.position_old.PositionOld.html
docs/api/neuropy.core.position.html
docs/api/neuropy.core.position.Position.html
docs/api/neuropy.core.position.PositionAccessor.html
docs/api/neuropy.core.position.PositionComputedDataMixin.html
docs/api/neuropy.core.position.PositionDimDataMixin.html
docs/api/neuropy.core.probe.html
docs/api/neuropy.core.probe.Probe.html
docs/api/neuropy.core.probe.ProbeGroup.html
docs/api/neuropy.core.probe.Shank.html
docs/api/neuropy.core.ratemap.html
docs/api/neuropy.core.ratemap.Ratemap.html
docs/api/neuropy.core.session.data_session_loader.DataSessionLoader.html
docs/api/neuropy.core.session.data_session_loader.html
docs/api/neuropy.core.session.dataSession.DataSession.html
docs/api/neuropy.core.session.dataSession.html
docs/api/neuropy.core.session.html
docs/api/neuropy.core.session.KnownDataSessionTypeProperties.html
docs/api/neuropy.core.session.KnownDataSessionTypeProperties.KnownDataSessionTypeProperties.html
docs/api/neuropy.core.session.SessionSelectionAndFiltering.CustomSessionFilter.html
docs/api/neuropy.core.session.SessionSelectionAndFiltering.html
docs/api/neuropy.core.signal.html
docs/api/neuropy.core.signal.Signal.html
docs/api/neuropy.core.user_annotations.html
docs/api/neuropy.core.user_annotations.SessionCellExclusivityRecord.html
docs/api/neuropy.core.user_annotations.UserAnnotationsManager.html
docs/api/neuropy.html
docs/api/neuropy.io.binarysignalio.BinarysignalIO.html
docs/api/neuropy.io.binarysignalio.html
docs/api/neuropy.io.dlcio.DLC.html
docs/api/neuropy.io.dlcio.html
docs/api/neuropy.io.html
docs/api/neuropy.io.miniscopeio.html
docs/api/neuropy.io.miniscopeio.MiniscopeIO.html
docs/api/neuropy.io.movie.html
docs/api/neuropy.io.movie.tracking_movie.html
docs/api/neuropy.io.neuroscopeio.html
docs/api/neuropy.io.neuroscopeio.NeuroscopeIO.html
docs/api/neuropy.io.openephysio.html
docs/api/neuropy.io.optitrackio.html
docs/api/neuropy.io.optitrackio.OptitrackIO.html
docs/api/neuropy.io.phyio.html
docs/api/neuropy.io.phyio.PhyIO.html
docs/api/neuropy.io.spykingcircusio.html
docs/api/neuropy.io.spykingcircusio.SpykingCircusIO.html
docs/api/NeuroPy.neuropy.analyses.html
docs/api/NeuroPy.neuropy.html
docs/api/neuropy.plotting.ca_events.html
docs/api/neuropy.plotting.epochs.html
docs/api/neuropy.plotting.figure.Colormap.html
docs/api/neuropy.plotting.figure.Fig.html
docs/api/neuropy.plotting.figure.html
docs/api/neuropy.plotting.html
docs/api/neuropy.plotting.mixins.html
docs/api/neuropy.plotting.mixins.placemap_mixins.html
docs/api/neuropy.plotting.mixins.placemap_mixins.PfnD_PlotOccupancy_Mixin.html
docs/api/neuropy.plotting.mixins.placemap_mixins.PfnDPlottingMixin.html
docs/api/neuropy.plotting.mixins.ratemap_mixins.html
docs/api/neuropy.plotting.mixins.ratemap_mixins.RatemapPlottingMixin.html
docs/api/neuropy.plotting.placemaps.html
docs/api/neuropy.plotting.position.html
docs/api/neuropy.plotting.probe.html
docs/api/neuropy.plotting.ratemaps.BackgroundRenderingOptions.html
docs/api/neuropy.plotting.ratemaps.html
docs/api/neuropy.plotting.signals.html
docs/api/neuropy.plotting.spikes.html
docs/api/neuropy.utils.align_util.html
docs/api/neuropy.utils.ccg_gpu.html
docs/api/neuropy.utils.ccg.html
docs/api/neuropy.utils.chunkingData.html
docs/api/neuropy.utils.colors_util.ColorsUtil.Colors.html
docs/api/neuropy.utils.colors_util.ColorsUtil.html
docs/api/neuropy.utils.colors_util.html
docs/api/neuropy.utils.debug_helpers.html
docs/api/neuropy.utils.decoding.html
docs/api/neuropy.utils.dynamic_container.DynamicContainer.html
docs/api/neuropy.utils.dynamic_container.html
docs/api/neuropy.utils.efficient_interval_search.html
docs/api/neuropy.utils.efficient_interval_search.OverlappingIntervalsFallbackBehavior.html
docs/api/neuropy.utils.eventCorr.event_event.html
docs/api/neuropy.utils.eventCorr.html
docs/api/neuropy.utils.html
docs/api/neuropy.utils.indexing_helpers.ColumnTracker.html
docs/api/neuropy.utils.indexing_helpers.html
docs/api/neuropy.utils.indexing_helpers.ListHelpers.html
docs/api/neuropy.utils.indexing_helpers.NeuroPyDataframeAccessor.html
docs/api/neuropy.utils.indexing_helpers.NumpyHelpers.html
docs/api/neuropy.utils.indexing_helpers.PandasHelpers.html
docs/api/neuropy.utils.indexing_helpers.UniqueValuesReturnType.html
docs/api/neuropy.utils.load_exported.html
docs/api/neuropy.utils.mathutil.html
docs/api/neuropy.utils.matplotlib_helpers.AnchoredCustomText.html
docs/api/neuropy.utils.matplotlib_helpers.enumTuningMap2DPlotMode.html
docs/api/neuropy.utils.matplotlib_helpers.enumTuningMap2DPlotVariables.html
docs/api/neuropy.utils.matplotlib_helpers.FigureMargins.html
docs/api/neuropy.utils.matplotlib_helpers.FormattedFigureText.html
docs/api/neuropy.utils.matplotlib_helpers.html
docs/api/neuropy.utils.matplotlib_helpers.MatplotlibFigureExtractors.html
docs/api/neuropy.utils.matplotlib_helpers.TabbedMatplotlibFigures.html
docs/api/neuropy.utils.matplotlib_helpers.ValueFormatter.html
docs/api/neuropy.utils.misc.AutoNameEnum.html
docs/api/neuropy.utils.misc.DateTimeFormat.html
docs/api/neuropy.utils.misc.html
docs/api/neuropy.utils.misc.NonStringIterable.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.AttrsBasedClassHelperMixin.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.AttrsWithParamParameterizedHelpers.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.BaseAttrsParameterizedParameters.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.BaseContainerAttrsParameterizedParametersToDictWidgetMixin.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.HDF_SerializationType.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.html
docs/api/neuropy.utils.mixins.AttrsClassHelpers.SimpleFieldSizesReprMixin.html
docs/api/neuropy.utils.mixins.binning_helpers.BinnedPositionsMixin.html
docs/api/neuropy.utils.mixins.binning_helpers.BinningContainer.html
docs/api/neuropy.utils.mixins.binning_helpers.BinningInfo.html
docs/api/neuropy.utils.mixins.binning_helpers.DebugBinningInfo.html
docs/api/neuropy.utils.mixins.binning_helpers.GridBinDebuggableMixin.html
docs/api/neuropy.utils.mixins.binning_helpers.html
docs/api/neuropy.utils.mixins.concatenatable.ConcatenationInitializable.html
docs/api/neuropy.utils.mixins.concatenatable.html
docs/api/neuropy.utils.mixins.dataframe_representable.DataFrameInitializable.html
docs/api/neuropy.utils.mixins.dataframe_representable.DataFrameRepresentable.html
docs/api/neuropy.utils.mixins.dataframe_representable.html
docs/api/neuropy.utils.mixins.dict_representable.DictInitializable.html
docs/api/neuropy.utils.mixins.dict_representable.DictlikeOverridableMixin.html
docs/api/neuropy.utils.mixins.dict_representable.DictRepresentable.html
docs/api/neuropy.utils.mixins.dict_representable.html
docs/api/neuropy.utils.mixins.dict_representable.SubsettableDictRepresentable.html
docs/api/neuropy.utils.mixins.diffable.DiffableObject.html
docs/api/neuropy.utils.mixins.diffable.html
docs/api/neuropy.utils.mixins.diffable.OrderedSet.html
docs/api/neuropy.utils.mixins.dynamic_conformance_updating_mixin.BaseDynamicInstanceConformingMixin.html
docs/api/neuropy.utils.mixins.dynamic_conformance_updating_mixin.html
docs/api/neuropy.utils.mixins.enum_helpers.ExtendedEnum.html
docs/api/neuropy.utils.mixins.enum_helpers.html
docs/api/neuropy.utils.mixins.enum_helpers.StringLiteralComparableEnum.html
docs/api/neuropy.utils.mixins.file_representable.FileInitializable.html
docs/api/neuropy.utils.mixins.file_representable.FileRepresentable.html
docs/api/neuropy.utils.mixins.file_representable.html
docs/api/neuropy.utils.mixins.gettable_mixin.GetAccessibleMixin.html
docs/api/neuropy.utils.mixins.gettable_mixin.html
docs/api/neuropy.utils.mixins.gettable_mixin.KeypathsAccessibleMixin.html
docs/api/neuropy.utils.mixins.HDF5_representable.HDF_Converter.html
docs/api/neuropy.utils.mixins.HDF5_representable.HDF_DeserializationMixin.html
docs/api/neuropy.utils.mixins.HDF5_representable.HDF_SerializationMixin.html
docs/api/neuropy.utils.mixins.HDF5_representable.HDFConvertableEnum.html
docs/api/neuropy.utils.mixins.HDF5_representable.HDFMixin.html
docs/api/neuropy.utils.mixins.HDF5_representable.HDFSerializationRegister.html
docs/api/neuropy.utils.mixins.HDF5_representable.html
docs/api/neuropy.utils.mixins.html
docs/api/neuropy.utils.mixins.indexing_helpers.html
docs/api/neuropy.utils.mixins.indexing_helpers.UnpackableMixin.html
docs/api/neuropy.utils.mixins.panel.DataSessionPanelMixin.html
docs/api/neuropy.utils.mixins.panel.html
docs/api/neuropy.utils.mixins.peak_location_representing.ContinuousPeakLocationRepresentingMixin.html
docs/api/neuropy.utils.mixins.peak_location_representing.html
docs/api/neuropy.utils.mixins.peak_location_representing.PeakLocationRepresentingMixin.html
docs/api/neuropy.utils.mixins.position_slicing.html
docs/api/neuropy.utils.mixins.position_slicing.PositionSlicedMixin.html
docs/api/neuropy.utils.mixins.print_helpers.BaseFieldPrintingReprMixin.html
docs/api/neuropy.utils.mixins.print_helpers.FileProgressAction.html
docs/api/neuropy.utils.mixins.print_helpers.html
docs/api/neuropy.utils.mixins.print_helpers.MultiItemStringRepresentationMixin.html
docs/api/neuropy.utils.mixins.print_helpers.OrderedMeta.html
docs/api/neuropy.utils.mixins.print_helpers.ProgressMessagePrinter.html
docs/api/neuropy.utils.mixins.print_helpers.SimplePrintable.html
docs/api/neuropy.utils.mixins.time_slicing.html
docs/api/neuropy.utils.mixins.time_slicing.StartStopTimesMixin.html
docs/api/neuropy.utils.mixins.time_slicing.TimeColumnAliasesProtocol.html
docs/api/neuropy.utils.mixins.time_slicing.TimePointEventAccessor.html
docs/api/neuropy.utils.mixins.time_slicing.TimeSlicableIndiciesMixin.html
docs/api/neuropy.utils.mixins.time_slicing.TimeSlicableObjectProtocol.html
docs/api/neuropy.utils.mixins.time_slicing.TimeSliceAccessor.html
docs/api/neuropy.utils.mixins.time_slicing.TimeSlicedMixin.html
docs/api/neuropy.utils.mixins.unit_slicing.html
docs/api/neuropy.utils.mixins.unit_slicing.NeuronUnitSlicableObjectProtocol.html
docs/api/neuropy.utils.mixins.unwrap_placefield_computation_parameters.html
docs/api/neuropy.utils.neurons_util.html
docs/api/neuropy.utils.position_util.html
docs/api/neuropy.utils.position_util.RegularizationApproach.html
docs/api/neuropy.utils.position_util.ShapelyMaze.html
docs/api/neuropy.utils.position_util.ShapelyMazeCollection.html
docs/api/neuropy.utils.probability_downsampling.html
docs/api/neuropy.utils.probability_downsampling.RigorousPDFDownsampler.html
docs/api/neuropy.utils.probe_util.html
docs/api/neuropy.utils.result_context.CollisionOutcome.html
docs/api/neuropy.utils.result_context.ContextFormatRenderingFn.html
docs/api/neuropy.utils.result_context.DisplaySpecifyingIdentifyingContext.html
docs/api/neuropy.utils.result_context.html
docs/api/neuropy.utils.result_context.IdentifyingContext.html
docs/api/neuropy.utils.signal_process.bicoherence.html
docs/api/neuropy.utils.signal_process.Csd.html
docs/api/neuropy.utils.signal_process.filter_sig.html
docs/api/neuropy.utils.signal_process.html
docs/api/neuropy.utils.signal_process.PAC.html
docs/api/neuropy.utils.signal_process.SpectrogramBands.html
docs/api/neuropy.utils.signal_process.ThetaParams.html
docs/api/neuropy.utils.signal_process.wavelet_decomp.html
docs/api/neuropy.utils.type_aliases.html
docs/api/objects.inv
docs/api/pydoctor.js
docs/api/search.js
docs/api/searchindex.json
docs/api/searchlib.js
docs/api/sidebartoggle.js
docs/api/undoccedSummary.html
docs/api/fonts/info.svg
docs/api/fonts/x-circle.svg
